# Git相关
.git
.github
.gitignore

# 环境和缓存文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# IDE相关
.idea
.vscode
*.swp
*.swo

# Docker相关
Dockerfile
.dockerignore

# 测试相关
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover
test_*.py
pytest.ini

# 其他不需要的文件
data/log/
*.log
*.pyc
README.md
RELEASE.md
run.py 